# 变量与数据类型

## > 变量

- 每个变量都要有一个名字，称为 变量名。
- 变量名只可包含字母、数字和下划线（_）。
- 变量名不可以用数字开头。
- 简单变量的变量名一般用小写英文单数名词 表示。
- 变量名中不允许有空格，空格处用下划线代替。
- 变量名对大小写字母敏感。
- 不可使用 python 保留字作为变量名，例如：`print`。
- 建议：[不使用拼音作为变量命名](https://mp.weixin.qq.com/s/Fo6hLn5Qq4lQRSFff9tKGw)。

In [1]:
# 数值变量
a = 1
print(a)

1

In [2]:
# 字符串变量
a = "I love python"
print(a)

I love python

In [3]:
a

'I love python'

# > 数据类型

## > 数字类型

In [4]:
#精确到小数点后两位
x = 1234.56789

print(format(x, '0.2f'))

1234.57

In [7]:
# 以 10 个字符右对齐，一位数精度
print(format(x, '>10.1f'))
# 右对齐
print(format(x, '<10.1f'))
# 居中对齐
print(format(x, '^10.1f'))

    1234.6
1234.6
  1234.6

In [10]:
# 包含千位分隔符
print(format(x, ','))
print(format(x, '0,.1f'))

1,234.56789
1,234.6

In [11]:
# 指数记法
print(format(x, 'e'))
print(format(x, '0.2E'))

1.234568e+03
1.23E+03

In [14]:
# python 数值计算中的四舍五入错误
print((1/45)*45)
print((1/49)*49)
print(0.1+0.2)

1.0
0.9999999999999999
0.30000000000000004

## > 字符串类型

In [15]:
# 字符串（string）
message = "Hello world!"
print (message)

Hello world!

In [16]:
# 大小写字母转换(upper&lower)
dna = "atcg"

# Convert lowercase to uppercase
dna_uppercase = dna.upper()
print(dna_uppercase)

# Convert uppercase to lowercase
dna_lowercase = dna_uppercase.lower()
print(dna_lowercase)

ATCG
atcg

In [17]:
# 将字符串转为列表 (list)
dna = "atcg"

# convert string to list
bases = list(dna)
print(bases)

['a', 't', 'c', 'g']

In [18]:
# 计算字符串的长度 (len)
dna = "atcg"

dna_length = len(dna)

print(dna_length)

4

In [19]:
#  查找 (find)
dna = "atcgtca"

# 查找 cg
cg_index = dna.find("cg")

#输出位置索引值
print(cg_index)

dna = "atcgtcacg"
# 查找 cg
cg_index = dna.find("cg")

#输出位置索引值
print(cg_index)

2
2

In [20]:
#  替换 (replace)
dna = "atcg"

# replace
a_to_t = dna.replace("a","t")
print(a_to_t)

ttcg

In [31]:
# 分割 (split)
XbaI = "TCTAGA"
my_dna = "ATGTGGTCTAGATTCTGCGGATGA"
XbaII='XXX'
# split
print(my_dna.split('T'))
print(my_dna.split(XbaI))
print(my_dna.split(XbaII))

['A', 'G', 'GG', 'C', 'AGA', '', 'C', 'GCGGA', 'GA']
['ATGTGG', 'TTCTGCGGATGA']
['ATGTGGTCTAGATTCTGCGGATGA']
['ATGTGGTCTAGATTCTGCGGATGA']

In [26]:
# 统计字符出现的次数 (count)
my_dna = "ATGTGGTCTAGATTCTGCGGATGA"

# count A
print(my_dna.count("A"))

5

In [43]:
# 反向（reverse）
dna = 'atcg'
rev_dna = ''.join(reversed(dna))
# join()是一个字符串方法，它返回被子字符串连接的字符串。
print(rev_dna)

rev_dna1 = list(reversed(dna))
print(rev_dna1)

rev_dna1 = list(reversed(dna))
[x for x in reversed(dna)]

gcta
['g', 'c', 't', 'a']

['g', 'c', 't', 'a']

In [36]:
# 索引
s = 'hello world'
# 检索第4-7个字母
print(s[3:7])

lo w

## > 布尔值类型

In [44]:
print(8 > 7)
print(8 == 7)

True
False

# > 列表（List）

- 列表可存储多个值。
- 多个值被放在一对 方括号[ ] 内。
- 值之间以逗号分隔。
- 列表变量名 通常使用 复数名词。如：proteins，genes。
- 列表中值的顺序固定。
- 列表中可以有重复值。

In [45]:
amino_acids = ['Met', 'Val', 'Arg']
print(amino_acids)

['Met', 'Val', 'Arg']

In [46]:
# 调用列表中的值

# 调用列表中的第一个值
amino_acids = ['Met', 'Val', 'Arg']
print(amino_acids[0])

# 调用列表中的倒数第一个值
amino_acids = ['Met', 'Val', 'Arg']
print(amino_acids[-1])

Met
Arg

In [47]:
# 对列表重新赋值

amino_acids = ['Met', 'Val', 'Arg']
amino_acids[0] = "Phe"
print(amino_acids)

['Phe', 'Val', 'Arg']

In [55]:
# 切片（slicing）

# 列表切片（slicing）指提取列表中某个范围内的值。
amino_acids = ['Phe', 'Val', 'Arg', 'Lys']
print(amino_acids[2:4])
print(amino_acids[0:4])
print(amino_acids[0:2])

['Arg', 'Lys']
['Phe', 'Val', 'Arg', 'Lys']
['Phe', 'Val']

In [49]:
# 合并列表（Concatenation）

numbers = [1,2,3]
letters = ["a","b","c"]
combine = numbers + letters
print(combine)

[1, 2, 3, 'a', 'b', 'c']

In [50]:
# 将字符串转换成列表(list)

dna = "ATCG"
bases = list(dna)
print(bases)

['A', 'T', 'C', 'G']

In [51]:
# 向列表中追加值（append）

amino_acids = ['Met', 'Val', 'Arg']
amino_acids.append("Lys")
print(amino_acids)

['Met', 'Val', 'Arg', 'Lys']

In [56]:
# 嵌套列表（Nested list）

my_list = [[1,2,3],['a','b','c']]
print(my_list[1][0])

a

In [2]:
# 列表拆包

my_list = [1, 2, 3]
a, b, c = my_list
print(a)  # output: 1
print(b)  # output: 2
print(c)  # output: 3

my_list = [1, 2, 3, 4, 5]
a, b, *rest,c = my_list
print(a)    # output: 1
print(b)    # output: 2
print(rest) # output: [3, 4]
print(c)    # output: 5

1
2
3
1
2
[3, 4]
5

# > 元组（Tuple）

In [57]:
# 元组中的多个值被放在一对 小括号（） 内。

amino_acids = ['Met', 'Val', 'Arg']
perfect_squares = (1,4,9,16,25,36)

print(amino_acids)
print(perfect_squares)

['Met', 'Val', 'Arg']
(1, 4, 9, 16, 25, 36)

### 元组与列表的区别
- 元组中的值是 不可改变的（Inmutable），不能对元组进行重新赋值。
- 不能删除元组中的值。
- 不能向元组中添加新的值。
- 元组占用的内存空间比列表小，比列表操作速度快。
- 使用大括号{}作为定界符，“，”分隔元素

In [58]:
import sys

list_eg = [1,4,9,16,25,36]
tuple_eg = (1,4,9,16,25,36)

print("list size = ", sys.getsizeof(list_eg))
print("tuple size = ", sys.getsizeof(tuple_eg))

list size =  104
tuple size =  88

### 如果一定要修改元组中的值

In [59]:
# 先将元组转换成列表：

tuple_eg = (1,4,9,16,25,36)

list_eg  = list(tuple_eg)

print(list_eg)

[1, 4, 9, 16, 25, 36]

In [60]:
# 修改列表中的值：

list_eg[0] = 5
print(list_eg)

[5, 4, 9, 16, 25, 36]

In [61]:
# 再将列表转回成元组：

tuple_eg = tuple(list_eg)
print(tuple_eg )

(5, 4, 9, 16, 25, 36)

### 如果一定要向元组中添加新的值 
- 原始元组（tuple1）
- 新建一个元组（tuple2）
- Tuple3 = tuple1 + tuple2

### 元祖拆包

In [3]:
#  Unpacking multiple values from a tuple
t = (1, 2, 3)
a, b, c = t
print(a, b, c)  # Output: 1 2 3

1 2 3

In [12]:
# Unpacking a tuple with a single element
t = (1,)
a = t
print(a)  # Output: 1

(1,)

In [13]:
# Unpacking a tuple in a loop:
list_of_tuples = [(1, 2), (3, 4), (5, 6)]

for a, b in list_of_tuples:
    print(a, b)
# Output:
# 1 2
# 3 4
# 5 6

1 2
3 4
5 6

In [14]:
# Unpacking a function's return value
def get_name_and_age():
    name = "Alice"
    age = 30
    return name, age

person_name, person_age = get_name_and_age()
print(person_name, person_age)  # Output: Alice 30

Alice 30

### zip函数

在 Python 中，zip 是一个内置函数，它将 一个 或 多个可迭代对象（iterable objects）作为参数，并返回一个元组迭代器（iterator of tuples），其中每个元组包含来自每个可迭代对象的一个元素。 当最短的输入迭代耗尽时，生成的迭代器停止。

In [21]:
# 例1
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']
temp=[7,8,9]
zipped = zip(numbers, letters,temp)

print(list(zipped))

[(1, 'a', 7), (2, 'b', 8), (3, 'c', 9)]

In [16]:
# 例2
numbers = [1, 2, 3]
letters = ['a', 'b']
zipped = zip(numbers, letters)

print(list(zipped))

[(1, 'a'), (2, 'b')]

# >集合（Set）

- 列表（List）和 元组（Tuple）是标准的 Python 数据类型，它们按顺序存储值。
- 集合（Set）是另一种标准的 Python 数据类型，它也存储值。 与列表或元组不同，集合不能多次出现同一元素，并且存储无序值。
- 因为集合不能多次出现相同的元素，所以集合对于从列表或元组中有效地删除重复值以及执行常见的数学运算（如并集和交集）非常有用。

In [71]:
# 创建空集合

emptySet = set()
print(emptySet)

set()

In [68]:
# 从列表创建集合

dataScientist1 = set(['Python', 'R', 'SQL', 'Git', 'SAS'])
dataScientist2 = set(['Python','Python', 'R', 'SQL', 'Git', 'SAS'])
print(dataScientist1)
print(dataScientist2)

{'R', 'SQL', 'Git', 'SAS', 'Python'}
{'R', 'SQL', 'Git', 'SAS', 'Python'}

In [65]:
# 将集合转为列表

# Creating a set
my_set = {1, 2, 3, 4}

# Converting set to list
my_list = list(my_set)

# Printing the list
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [72]:
# 计算交集(%//intersection)

# list
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]
common_elements = set(list1) & set(list2)
print(common_elements)

# set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
intersection = set1.intersection(set2)
print(intersection)

{40, 50, 30}
{40, 50, 30}

In [70]:
# 计算并集(union)
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
union_set = set1.union(set2)
print(union_set)

{70, 40, 10, 50, 20, 60, 30}

# > 字典（Dictionary）

- 可存储多个数据，但不能有重复数据。
- 所有数据被放在一对大括号 { } 内。
- 数据之间用 逗号 分隔。
- 每个数据由两部分组成：键（key）和值（value）。
- 键和值之间用 冒号 分隔。
- 可以对字典中的数据进行更改。

In [26]:
# 字典的赋值和调用

# 字典赋值方法一：标准方法
codons = {'M': 'ATG', 'R': 'GTC'} 

# 调用字典键值：字典名[键名]
print(codons['M'])  
print(codons['R'])  

# 字典赋值方法二：字典键值表
aa_table = dict(A=71, C=103)
print(aa_table['A'])

ATG
GTC
71

In [29]:
# 字典可存储的数据类型

my_dict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(my_dict)
print(my_dict["colors"][1])

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
white

In [27]:
# 更改字典中的值

my_dict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

my_dict["year"] = 2018

print(my_dict)

{'brand': 'Ford', 'electric': False, 'year': 2018, 'colors': ['red', 'white', 'blue']}

In [30]:
# 向字典中添加新的数据

my_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

my_dict["color"] = "red"

print(my_dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

### 字典操作

In [31]:
# 获取键名对应的值 get()

# 获取键名对应的值
my_dict = {"A":23, "B":56}

value = my_dict.get('A',None)
print(value)

# 当键名对应的值不存在时，输出 None
value = my_dict.get('C',None)
print(value)

23
None

In [32]:
# 获取键值对列表：items() 
# 获取包含每个键值对的元组（Tuple）的列表（List）。

my_dict = {"A":23, "B":56}

value = my_dict.items()

print(value)

dict_items([('A', 23), ('B', 56)])

In [33]:
# 获取键名列表：keys()

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car_keys = car.keys()

print(car_keys)

dict_keys(['brand', 'model', 'year'])

In [34]:
# 获取字典值列表：values() 

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car_values = car.values()

print(car_values )

dict_values(['Ford', 'Mustang', 1964])

In [35]:
# 删除字典中的数据：pop() 

my_dict = {"A":23, "B":56}

my_dict.pop("A")
print(my_dict)

{'B': 56}

In [36]:
# 清除字典中的数据：clear()

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict.clear()

print(thisdict)

{}

In [47]:
# 删除字典中的数据：del

# 删除字典元素
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

# 删除整个字典
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)

{'brand': 'Ford', 'year': 1964}

NameError: name 'thisdict' is not defined

In [40]:
# 拷贝字典

# 使用 copy()
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

# 使用 dict()
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [44]:
# 嵌套字典（Nested Dictionaries）

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily["child2"]["year"])

2007

In [45]:
# 相当于将三个字典添加到新字典

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

## 查看 对象（Object）类型

In [46]:
a = 1
print(type(a))

b = "book"
print(type(b))

c = [1,2,3]
print(type(c))

d = (1,2,3)
print(type(d))

e = {"A":23, "B":56}
print(type(e))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>